{% extends "blog_app/base.html" %}
{% block content %}
{% for post in POSTLIST %}
    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img class="card-img-top" height="180"  src="{{ post.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.text | truncatechars:60}}</p>
          <p class="card-text"><small class="text-muted">Post By <span style="font-size:1.2em">{{post.author | title}}</span> at {{post.date}} in {{post.category}}</small></p>
        </div>
      </div>
    </div>
    </div>
    <br>
      {% endfor %}

{% endblock content %}
